Repository finitefield-org/hanko-field: changes, and which lefthook commands are due for each by the changed paths.
All: dart-format, flutter-analyze, flutter-test, gofmt-api, go-test-api, gofmt-admin, go-test-admin, gofmt-web, go-test-web

.lefthook.yml:

fail_fast: true

pre-commit:
  parallel: true
  commands:
    # --- åŸºæœ¬ãƒã‚§ãƒƒã‚¯ ---
    check-merge-conflict-app:
      run: |
        echo "ğŸ” Checking for merge conflict markers..."
        if git grep -n "<<<<<<< HEAD" -- app/ >/dev/null 2>&1; then
          echo "âŒ Merge conflict marker found."
          git grep -n "<<<<<<< HEAD" -- app/
          exit 1
        fi
    check-merge-conflict-api:
      run: |
        echo "ğŸ” Checking for merge conflict markers..."
        if git grep -n "<<<<<<< HEAD" -- api/ >/dev/null 2>&1; then
          echo "âŒ Merge conflict marker found."
          git grep -n "<<<<<<< HEAD" -- api/
          exit 1
        fi
    check-merge-conflict-admin:
      run: |
        echo "ğŸ” Checking for merge conflict markers..."
        if git grep -n "<<<<<<< HEAD" -- admin/ >/dev/null 2>&1; then
          echo "âŒ Merge conflict marker found."
          git grep -n "<<<<<<< HEAD" -- admin/
          exit 1
        fi
    check-merge-conflict-web:
      run: |
        echo "ğŸ” Checking for merge conflict markers..."
        if git grep -n "<<<<<<< HEAD" -- web/ >/dev/null 2>&1; then
          echo "âŒ Merge conflict marker found."
          git grep -n "<<<<<<< HEAD" -- web/
          exit 1
        fi

    # --- Dart/Flutter ãƒã‚§ãƒƒã‚¯ ---

    dart-format:
      run: |
        echo "ğŸ¯ Running dart format..."
        dart format app/
      stage_fixed: true
      glob: "app/**/*.dart"

    flutter-analyze:
      run: |
        echo "ğŸ§  Running flutter analyze..."
        cd app && flutter analyze
      glob: "app/**/*.dart"

    flutter-test:
      run: |
        echo "ğŸ§ª Running flutter tests..."
        cd app && flutter test --no-pub
      glob: "app/**/*.dart"

    # --- Go (api/admin) ãƒã‚§ãƒƒã‚¯ ---

    gofmt-api:
      run: |
        echo "ğŸ§¹ Running gofmt for api..."
        for file in {staged_files}; do
          gofmt -w "$file"
        done
      stage_fixed: true
      glob: "api/**/*.go"

    go-test-api:
      run: |
        echo "âœ… Running go test (api)..."
        cd api && go test ./...
      glob: "api/**/*"

    gofmt-admin:
      run: |
        echo "ğŸ§¹ Running gofmt for admin..."
        for file in {staged_files}; do
          gofmt -w "$file"
        done
      stage_fixed: true
      glob: "admin/**/*.go"

    go-test-admin:
      run: |
        echo "âœ… Running go test (admin)..."
        cd admin && go test ./...
      glob: "admin/**/*"

    gofmt-web:
      run: |
        echo "ğŸ§¹ Running gofmt for web..."
        for file in {staged_files}; do
          gofmt -w "$file"
        done
      stage_fixed: true
      glob: "web/**/*.go"

    go-test-web:
      run: |
        echo "âœ… Running go test (web)..."
        cd web && go test ./...
      glob: "web/**/*"

Add Hebrew localization support and update UI for RTL compatibility
  app/lib/features/onboarding/view/onboarding_page.dart
  app/lib/features/preferences/view_model/locale_selection_view_model.dart
  app/lib/features/profile/view/profile_locale_page.dart
  app/lib/localization/app_localizations.dart
  app/lib/localization/app_localizations_he.dart
  app/lib/ui/buttons/app_button.dart
  app/lib/ui/feedback/app_skeleton.dart
  app/lib/ui/forms/app_text_field.dart
  app/lib/ui/overlays/app_modal.dart
  app/lib/ui/surfaces/app_card.dart
  doc/app/tasks.md
  doc/app/tasks/090a-add-hebrew-localization-and-rtl-validation-across-app-flows.md
Due: dart-format, flutter-analyze, flutter-test

Implement automated widget tests, integration tests (golden tests, end-to-end flows) covering core journeys.
  app/integration_test/core_flows_test.dart
  app/pubspec.lock
  app/pubspec.yaml
  app/test/checkout_review_page_empty_test.dart
  app/test/design_type_selection_page_golden_test.dart
  app/test/design_type_selection_page_test.dart
  app/test/goldens/design_type_selection_page.png
  app/test/helpers/test_app.dart
  doc/app/tasks.md
Due: dart-format, flutter-analyze, flutter-test

Update dependencies and add integration tests
  doc/app/tasks.md
  doc/app/tasks/092-prepare-manual-qa-checklist-and-device-matrix-for-release-certification.md
Due: none

Update Podfile.lock and refactor bootstrap logic
  app/ios/Podfile.lock
  app/lib/bootstrap.dart
  app/lib/config/app_flavor.dart
Due: dart-format, flutter-analyze, flutter-test

Refactor error handling in bootstrap process
  app/lib/bootstrap.dart
Due: dart-format, flutter-analyze, flutter-test

Remove staging environment support and update app flavor configuration
  app/android/app/build.gradle.kts
  app/lib/config/app_flavor.dart
  app/lib/core/network/network_config.dart
  app/lib/firebase/firebase_options.dart
  app/lib/main_stg.dart
Due: dart-format, flutter-analyze, flutter-test

Add Firebase support and update configuration for FlutterFire integration
  app/android/app/build.gradle.kts
  app/android/app/google-services.json
  app/android/settings.gradle.kts
  app/firebase.json
  app/ios/Runner.xcodeproj/project.pbxproj
  app/ios/Runner/GoogleService-Info.plist
  app/lib/firebase/firebase_options.dart
  app/macos/Runner.xcodeproj/project.pbxproj
  app/macos/Runner/GoogleService-Info.plist
Due: dart-format, flutter-analyze, flutter-test

Update Android flavor configuration to unify applicationId for dev and prod
  app/android/app/build.gradle.kts
  doc/app/flavors.md
Due: none

Add RTL text direction support for multiple languages
  app/lib/app.dart
Due: dart-format, flutter-analyze, flutter-test

Enhance Firebase initialization and app flavor configuration
  app/lib/bootstrap.dart
  app/lib/config/app_flavor.dart
  doc/app/flavors.md
Due: dart-format, flutter-analyze, flutter-test

Refactor bootstrap process and enhance error handling
  app/lib/bootstrap.dart
  app/lib/features/home/view/home_page.dart
  app/lib/monitoring/crash_reporting.dart
  app/lib/ui/feedback/app_skeleton.dart
Due: dart-format, flutter-analyze, flutter-test

Enhance image error handling and UI layout in home page
  app/lib/features/home/view/home_page.dart
Due: dart-format, flutter-analyze, flutter-test

Update application identifiers and refactor project structure
  app/android/app/build.gradle.kts
  app/android/app/google-services.json
  app/android/app/src/main/kotlin/org/finitefield/hanko/MainActivity.kt
  app/ios/Runner.xcodeproj/project.pbxproj
  app/ios/Runner/GoogleService-Info.plist
  app/lib/firebase/firebase_options.dart
  app/linux/CMakeLists.txt
  app/macos/Runner.xcodeproj/project.pbxproj
  app/macos/Runner/Configs/AppInfo.xcconfig
  app/macos/Runner/GoogleService-Info.plist
  app/windows/runner/Runner.rc
  doc/app/firebase-setup.md
  doc/app/flavors.md
Due: dart-format, flutter-analyze, flutter-test

Update Firebase configuration with new application IDs for Android and iOS
  app/android/app/google-services.json
  app/firebase.json
  app/ios/Runner/GoogleService-Info.plist
  app/lib/firebase/firebase_options.dart
  app/macos/Runner/GoogleService-Info.plist
Due: dart-format, flutter-analyze, flutter-test

Refactor app flavor configuration and remove staging support
  app/lib/main.dart
  app/lib/main_dev.dart
  doc/app/firebase-setup.md
  doc/app/flavors.md
  doc/app/tasks.md
  doc/app/tasks/006-initialize-flutter-project-with-flavors-dev-prod-app-icons-splash-screens-and-build-co.md
Due: dart-format, flutter-analyze, flutter-test

Refactor app flavor management and enhance Firebase integration
  app/ios/Runner.xcodeproj/xcshareddata/xcschemes/dev.xcscheme
  app/ios/Runner.xcodeproj/xcshareddata/xcschemes/prod.xcscheme
Due: none

Enhance iOS project configuration for multiple flavors
  app/ios/Podfile
  app/ios/Podfile.lock
  app/ios/Runner.xcodeproj/project.pbxproj
  app/ios/Runner.xcodeproj/xcshareddata/xcschemes/dev.xcscheme
  app/ios/Runner.xcodeproj/xcshareddata/xcschemes/prod.xcscheme
Due: none

Enhance navigation and routing consistency across the app
  Makefile
Due: none

Refactor account order summary function and remove unused HTTP method constant
  web/cmd/web/account_library_view.go
  web/cmd/web/account_orders_view.go
Due: gofmt-web, go-test-web

Update Makefile and documentation to remove air dependency and streamline dev process
  Makefile
  admin/.air.toml
  admin/Makefile
  admin/README.md
  doc/admin/dev_setup.md
  doc/admin/tasks/005-scaffold-go-web-module-admin-or-web-with-templating-pipeline-asset-bundler-tailwind-and-de.md
  doc/admin/tasks/078-document-admin-console-deployment-checklist-including-environment-variables-firebase-auth-.md
  doc/web/dev_setup.md
  doc/web/tasks/006-scaffold-go-web-module-with-chi-echo-router-template-engine-asset-pipeline-tailwind-alpine.md
  web/.air.toml
  web/Makefile
Due: none

update chinese translation
  app/lib/localization/app_localizations_zh.dart
Due: dart-format, flutter-analyze, flutter-test

Update port configurations in Docker Compose and related documentation
  .gitignore
  Makefile
  README.md
  admin/README.md
  admin/cmd/admin/main.go
  api/Dockerfile
  api/internal/platform/config/config.go
  api/internal/platform/config/config_test.go
  api/internal/repositories/firestore/counter_repository.go
  compose.yaml
  doc/admin/dev_setup.md
  doc/api/configuration.md
  doc/api/dev_setup.md
  doc/api/onboarding.md
  doc/web/dev_setup.md
  firebase.json
  web/cmd/web/main.go
Due: gofmt-api, go-test-api, gofmt-admin, go-test-admin, gofmt-web, go-test-web

Update port configurations in Docker Compose and related documentation
  .gitignore
  api/internal/handlers/admin_audit.go
  api/internal/handlers/admin_catalog.go
  api/internal/handlers/admin_content.go
  api/internal/handlers/admin_counters.go
  api/internal/handlers/admin_inventory.go
  api/internal/handlers/admin_invoices.go
  api/internal/handlers/admin_operations.go
  api/internal/handlers/admin_orders.go
  api/internal/handlers/admin_production_queues.go
  api/internal/handlers/admin_promotions.go
  api/internal/handlers/admin_reviews.go
  api/internal/handlers/admin_system.go
  api/internal/handlers/admin_user_handlers.go
  api/internal/platform/observability/logger.go
  compose.yaml
Due: gofmt-api, go-test-api

Update service ports and enhance Makefile for development
  Makefile
  README.md
  admin/Makefile
  admin/README.md
  admin/internal/admin/observability/logger.go
  app/web/index.html
  compose.yaml
  doc/web/dev_setup.md
  web/cmd/web/main.go
Due: gofmt-admin, go-test-admin, gofmt-web, go-test-web

Update service ports and environment variables in Docker Compose and documentation
  README.md
  admin/Makefile
  compose.yaml
  doc/web/dev_setup.md
  web/cmd/web/main.go
Due: gofmt-web, go-test-web

Update service ports to avoid conflicts and align documentation
  README.md
  compose.yaml
  doc/web/dev_setup.md
  web/cmd/web/main.go
Due: gofmt-web, go-test-web

tailwindcss v4
  AGENTS.md
  README.md
  app/pubspec.lock
  app/pubspec.yaml
  web/Makefile
  web/assets/css/input.css
Due: go-test-web

漢字マッピングツール
  web/cmd/web/design_kanji_handlers.go
  web/cmd/web/main.go
  web/internal/handlers/pages.go
  web/templates/pages/design_kanji_mapper.html
  web/templates/partials/frags/design_editor_kanji_modal.html
Due: gofmt-web, go-test-web

tailwindcss
  .gitignore
  README.md
  admin/Makefile
  admin/README.md
  admin/package-lock.json
  admin/package.json
  devbox.json
  doc/admin/architecture.md
  doc/admin/design_tokens.md
  doc/admin/dev_setup.md
  doc/web/deploy.md
  doc/web/dev_setup.md
  web/Dockerfile
  web/Makefile
  web/package-lock.json
  web/package.json
  web/tools/.gitkeep
Due: go-test-web

Remove public/assets/js/ from .gitignore to allow tracking of JavaScript files.
  web/.gitignore
  web/public/assets/js/htmx.min.js
Due: go-test-web

en to ja
  tools/.gitignore
  web/cmd/web/main.go
  web/locales/en.json
  web/locales/ja.json
  web/templates/pages/template_detail.html
  web/templates/pages/templates.html
  web/templates/partials/components/templates.html
  web/templates/partials/frags/templates.html
Due: gofmt-web, go-test-web

innsatudezain Japanese
  web/internal/nav/nav.go
  web/locales/en.json
  web/locales/ja.json
Due: gofmt-web, go-test-web

kannjimapping
  web/internal/nav/nav.go
  web/locales/en.json
  web/locales/ja.json
  web/templates/pages/shop.html
  web/templates/partials/frags/design_editor_form.html
  web/templates/partials/frags/shop_table.html
Due: gofmt-web, go-test-web
