Repository finitefield-org/hanko-field: changes, and which lefthook commands are due for each by the changed paths.
All: dart-format, flutter-analyze, flutter-test, gofmt-api, go-test-api, gofmt-admin, go-test-admin, gofmt-web, go-test-web

.lefthook.yml:

fail_fast: true

pre-commit:
  parallel: true
  commands:
    # --- åŸºæœ¬ãƒã‚§ãƒƒã‚¯ ---
    check-merge-conflict-app:
      run: |
        echo "ğŸ” Checking for merge conflict markers..."
        if git grep -n "<<<<<<< HEAD" -- app/ >/dev/null 2>&1; then
          echo "âŒ Merge conflict marker found."
          git grep -n "<<<<<<< HEAD" -- app/
          exit 1
        fi
    check-merge-conflict-api:
      run: |
        echo "ğŸ” Checking for merge conflict markers..."
        if git grep -n "<<<<<<< HEAD" -- api/ >/dev/null 2>&1; then
          echo "âŒ Merge conflict marker found."
          git grep -n "<<<<<<< HEAD" -- api/
          exit 1
        fi
    check-merge-conflict-admin:
      run: |
        echo "ğŸ” Checking for merge conflict markers..."
        if git grep -n "<<<<<<< HEAD" -- admin/ >/dev/null 2>&1; then
          echo "âŒ Merge conflict marker found."
          git grep -n "<<<<<<< HEAD" -- admin/
          exit 1
        fi
    check-merge-conflict-web:
      run: |
        echo "ğŸ” Checking for merge conflict markers..."
        if git grep -n "<<<<<<< HEAD" -- web/ >/dev/null 2>&1; then
          echo "âŒ Merge conflict marker found."
          git grep -n "<<<<<<< HEAD" -- web/
          exit 1
        fi

    # --- Dart/Flutter ãƒã‚§ãƒƒã‚¯ ---

    dart-format:
      run: |
        echo "ğŸ¯ Running dart format..."
        dart format app/
      stage_fixed: true
      glob: "app/**/*.dart"

    flutter-analyze:
      run: |
        echo "ğŸ§  Running flutter analyze..."
        cd app && flutter analyze
      glob: "app/**/*.dart"

    flutter-test:
      run: |
        echo "ğŸ§ª Running flutter tests..."
        cd app && flutter test --no-pub
      glob: "app/**/*.dart"

    # --- Go (api/admin) ãƒã‚§ãƒƒã‚¯ ---

    gofmt-api:
      run: |
        echo "ğŸ§¹ Running gofmt for api..."
        for file in {staged_files}; do
          gofmt -w "$file"
        done
      stage_fixed: true
      glob: "api/**/*.go"

    go-test-api:
      run: |
        echo "âœ… Running go test (api)..."
        cd api && go test ./...
      glob: "api/**/*"

    gofmt-admin:
      run: |
        echo "ğŸ§¹ Running gofmt for admin..."
        for file in {staged_files}; do
          gofmt -w "$file"
        done
      stage_fixed: true
      glob: "admin/**/*.go"

    go-test-admin:
      run: |
        echo "âœ… Running go test (admin)..."
        cd admin && go test ./...
      glob: "admin/**/*"

    gofmt-web:
      run: |
        echo "ğŸ§¹ Running gofmt for web..."
        for file in {staged_files}; do
          gofmt -w "$file"
        done
      stage_fixed: true
      glob: "web/**/*.go"

    go-test-web:
      run: |
        echo "âœ… Running go test (web)..."
        cd web && go test ./...
      glob: "web/**/*"

Implement M13-T02 widget coverage
  app/test/widget_test.dart
  doc/app-mvp-implementation-tasks-from-web.md
Due: dart-format, flutter-analyze, flutter-test

Implement M13-T03 API order tests
  api/src/main.rs
  doc/app-mvp-implementation-tasks-from-web.md
Due: go-test-api

Implement M13-T04 order API tests
  api/src/main.rs
  doc/app-mvp-implementation-tasks-from-web.md
Due: go-test-api

Implement M13-T05 Stripe flow tests
  api/src/main.rs
  app/test/checkout_return_test.dart
  doc/app-mvp-implementation-tasks-from-web.md
Due: dart-format, flutter-analyze, flutter-test, go-test-api

Implement M13-T06 inventory race tests
  api/src/main.rs
  doc/app-mvp-implementation-tasks-from-web.md
Due: go-test-api

Implement M13-T07 AI quality tests
  api/src/main.rs
  doc/app-mvp-implementation-tasks-from-web.md
Due: go-test-api

Implement M13-T08 accessibility tests
  app/lib/app/app.dart
  app/lib/core/widgets/hanko_feature_page.dart
  app/lib/core/widgets/hanko_state_view.dart
  app/lib/core/widgets/hanko_text_field.dart
  app/lib/features/design/presentation/design_home_screen.dart
  app/lib/features/order/presentation/order_flow_entry_screen.dart
  app/test/widget_test.dart
  doc/app-mvp-implementation-tasks-from-web.md
Due: dart-format, flutter-analyze, flutter-test

Implement M13-T09 deep link release config
  .env.prod.example
  app/android/app/src/main/AndroidManifest.xml
  app/ios/Runner.xcodeproj/project.pbxproj
  app/ios/Runner/Runner.entitlements
  app/test/checkout_return_test.dart
  app/test/platform_deep_link_config_test.dart
  doc/app-mvp-implementation-tasks-from-web.md
  doc/app-release-deep-link-config.md
Due: dart-format, flutter-analyze, flutter-test

Implement M14-T02 recipe domain
  api/src/main.rs
  doc/app-mvp-implementation-tasks-from-web.md
Due: go-test-api

Implement M14-T03 recipe generation
  api/src/main.rs
  doc/app-mvp-implementation-tasks-from-web.md
Due: go-test-api

Implement M14-T04 glyph renderer
  api/Cargo.lock
  api/Cargo.toml
  api/src/main.rs
  api/src/seal_renderer.rs
  doc/app-mvp-implementation-tasks-from-web.md
Due: go-test-api

Implement M14-T05 fixed seal rules
  api/Cargo.lock
  api/Cargo.toml
  api/src/seal_renderer.rs
  doc/app-mvp-implementation-tasks-from-web.md
Due: go-test-api

Implement M14-T06 seal layout spacing
  api/src/seal_renderer.rs
  doc/app-mvp-implementation-tasks-from-web.md
Due: go-test-api

Integrate programmatic seal design rendering
  api/src/main.rs
  doc/app-mvp-implementation-tasks-from-web.md
Due: go-test-api

Normalize seal design generation errors
  api/src/main.rs
  doc/app-mvp-implementation-tasks-from-web.md
Due: go-test-api

Add seal design generation contract tests
  api/src/main.rs
  doc/app-mvp-implementation-tasks-from-web.md
Due: go-test-api

Parse seal design recipe variants in app
  app/lib/features/design/data/seal_designs_repository.dart
  app/lib/features/design/domain/seal_generation.dart
  app/test/api_dto_test.dart
  doc/app-mvp-implementation-tasks-from-web.md
Due: dart-format, flutter-analyze, flutter-test

Fix final seal style selection flow
  app/lib/features/design/presentation/design_home_screen.dart
  app/test/widget_test.dart
  doc/app-mvp-implementation-tasks-from-web.md
Due: dart-format, flutter-analyze, flutter-test

Keep generated seal image through checkout
  app/lib/app/app.dart
  app/test/widget_test.dart
  doc/app-mvp-implementation-tasks-from-web.md
Due: dart-format, flutter-analyze, flutter-test

Clarify generated seal wording in admin
  admin/src/main.rs
  admin/templates/order_detail.html
  doc/app-mvp-implementation-tasks-from-web.md
Due: go-test-admin

Mark M15-T05 E2E verification complete
  doc/app-mvp-implementation-tasks-from-web.md
Due: none

Add M15-T06 visual QA evidence
  doc/app-mvp-implementation-tasks-from-web.md
  doc/qa/m15-t06/README.md
  doc/qa/m15-t06/m15-t06-contact-sheet.png
  doc/qa/m15-t06/manifest.json
  doc/qa/m15-t06/screenshots/high-1-square.png
  doc/qa/m15-t06/screenshots/high-2-round.png
  doc/qa/m15-t06/screenshots/low-1-square.png
  doc/qa/m15-t06/screenshots/low-2-round.png
  doc/qa/m15-t06/screenshots/medium-1-round.png
  doc/qa/m15-t06/screenshots/medium-2-square.png
  doc/qa/m15-t06/visual-qa-results.json
Due: none

Document M15 release notes
  doc/app-mvp-implementation-tasks-from-web.md
  doc/design.md
Due: none

onboading-fix
  app/lib/app/localization/hanko_localizations.dart
  app/lib/features/common/presentation/onboarding_screen.dart
  app/test/widget_test.dart
Due: dart-format, flutter-analyze, flutter-test

error-fix-0608
  .gcloud/application_default_credentials.json
  .gitignore
  Makefile
  api/Cargo.lock
  api/Cargo.toml
  api/Dockerfile.cloudrun
  api/src/main.rs
  api/src/seal_renderer.rs
  app/android/gradle.properties
  app/ios/Podfile.lock
  app/ios/Runner.xcodeproj/project.pbxproj
  app/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  app/lib/app/app.dart
  app/lib/app/localization/hanko_localizations.dart
  app/lib/core/api/hanko_api_client.dart
  app/lib/features/my_seals/data/local_seal_design_repository.dart
  app/pubspec.lock
  app/pubspec.yaml
  app/test/api_dto_test.dart
  app/test/local_seal_design_repository_test.dart
  app/test/widget_test.dart
  scripts/deploy-api-prod.sh
  scripts/docker-dev.sh
Due: dart-format, flutter-analyze, flutter-test, go-test-api
