Repository finitefield-org/hanko-field: changes, and which lefthook commands are due for each by the changed paths.
All: dart-format, flutter-analyze, flutter-test, gofmt-api, go-test-api, gofmt-admin, go-test-admin, gofmt-web, go-test-web

dart-format:
  run: 'echo "ğŸ¯ Running dart format..."
  
    dart format app/
  
    '
  stage_fixed: true

flutter-analyze:
  run: 'echo "ğŸ§  Running flutter analyze..."
  
    cd app && flutter analyze
  
    '

flutter-test:
  run: 'echo "ğŸ§ª Running flutter tests..."
  
    cd app && flutter test --no-pub
  
    '

gofmt-api:
  run: "echo \"ğŸ§¹ Running gofmt for api...\"\nfor file in {staged_files}; do\n  gofmt -w \"$file\"\ndone\n"
  stage_fixed: true

go-test-api:
  run: 'echo "âœ… Running go test (api)..."
  
    cd api && go test ./...
  
    '

gofmt-admin:
  run: "echo \"ğŸ§¹ Running gofmt for admin...\"\nfor file in {staged_files}; do\n  gofmt -w \"$file\"\ndone\n"
  stage_fixed: true

go-test-admin:
  run: 'echo "âœ… Running go test (admin)..."
  
    cd admin && go test ./...
  
    '

gofmt-web:
  run: "echo \"ğŸ§¹ Running gofmt for web...\"\nfor file in {staged_files}; do\n  gofmt -w \"$file\"\ndone\n"
  stage_fixed: true

go-test-web:
  run: 'echo "âœ… Running go test (web)..."
  
    cd web && go test ./...
  
    '

Implement M07-T02 stone listing API
  api/src/main.rs
  doc/app-mvp-implementation-tasks-from-web.md
Due: go-test-api

Implement M07-T03 stone filters
  app/lib/app/localization/hanko_localizations.dart
  app/lib/features/stones/data/stone_listings_repository.dart
  app/lib/features/stones/domain/stone_listing.dart
  app/lib/features/stones/presentation/stones_home_screen.dart
  app/test/api_dto_test.dart
  app/test/widget_test.dart
  doc/app-mvp-implementation-tasks-from-web.md
Due: dart-format, flutter-analyze, flutter-test

Implement M07-T04 stone sorting
  app/lib/app/localization/hanko_localizations.dart
  app/lib/features/stones/data/stone_listings_repository.dart
  app/lib/features/stones/domain/stone_listing.dart
  app/lib/features/stones/presentation/stones_home_screen.dart
  app/test/api_dto_test.dart
  app/test/widget_test.dart
  doc/app-mvp-implementation-tasks-from-web.md
Due: dart-format, flutter-analyze, flutter-test

Implement M07-T05 stone detail
  app/lib/app/app.dart
  app/lib/app/localization/hanko_localizations.dart
  app/lib/features/stones/data/stone_listings_repository.dart
  app/lib/features/stones/domain/stone_listing.dart
  app/lib/features/stones/presentation/stone_detail_screen.dart
  app/lib/features/stones/presentation/stones_home_screen.dart
  app/lib/features/stones/stones.dart
  app/test/api_dto_test.dart
  app/test/widget_test.dart
  doc/app-mvp-implementation-tasks-from-web.md
Due: dart-format, flutter-analyze, flutter-test

Implement M07-T06 stone image gallery
  app/lib/app/app.dart
  app/lib/features/stones/presentation/stone_detail_screen.dart
  app/test/widget_test.dart
  doc/app-mvp-implementation-tasks-from-web.md
Due: dart-format, flutter-analyze, flutter-test

Implement M07-T07 stone selection states
  app/lib/app/app.dart
  app/lib/app/localization/hanko_localizations.dart
  app/lib/features/stones/presentation/stone_detail_screen.dart
  app/lib/features/stones/presentation/stone_selection_confirmation.dart
  app/lib/features/stones/presentation/stones_home_screen.dart
  app/lib/features/stones/stones.dart
  app/test/widget_test.dart
  doc/app-mvp-implementation-tasks-from-web.md
Due: dart-format, flutter-analyze, flutter-test

Implement M08-T01 order draft model
  app/lib/app/app.dart
  app/lib/features/order/data/local_order_draft_repository.dart
  app/lib/features/order/domain/order_draft.dart
  app/lib/features/order/order.dart
  app/lib/main.dart
  app/test/order_draft_repository_test.dart
  app/test/widget_test.dart
  doc/app-mvp-implementation-tasks-from-web.md
Due: dart-format, flutter-analyze, flutter-test

Implement M08-T02 combination review
  app/lib/app/app.dart
  app/lib/app/localization/hanko_localizations.dart
  app/lib/features/order/presentation/order_flow_entry_screen.dart
  app/test/widget_test.dart
  doc/app-mvp-implementation-tasks-from-web.md
Due: dart-format, flutter-analyze, flutter-test

Implement M08-T03 missing order states
  app/lib/app/app.dart
  app/lib/app/localization/hanko_localizations.dart
  app/lib/app/navigation/app_navigation_shell.dart
  app/lib/features/order/presentation/order_flow_entry_screen.dart
  app/test/widget_test.dart
  doc/app-mvp-implementation-tasks-from-web.md
Due: dart-format, flutter-analyze, flutter-test

Implement M08-T04 change routes
  app/lib/app/localization/hanko_localizations.dart
  app/lib/app/navigation/app_navigation_shell.dart
  app/lib/features/order/presentation/order_flow_entry_screen.dart
  app/test/widget_test.dart
  doc/app-mvp-implementation-tasks-from-web.md
Due: dart-format, flutter-analyze, flutter-test

Implement M09-T01 checkout input
  app/lib/app/app.dart
  app/lib/app/localization/hanko_localizations.dart
  app/lib/features/order/presentation/order_flow_entry_screen.dart
  app/test/widget_test.dart
  doc/app-mvp-implementation-tasks-from-web.md
Due: dart-format, flutter-analyze, flutter-test

Implement M09-T02 checkout validation
  app/lib/app/localization/hanko_localizations.dart
  app/lib/features/order/presentation/order_flow_entry_screen.dart
  app/test/widget_test.dart
  doc/app-mvp-implementation-tasks-from-web.md
Due: dart-format, flutter-analyze, flutter-test

Implement M09-T03 order confirmation
  app/lib/app/app.dart
  app/lib/app/localization/hanko_localizations.dart
  app/lib/features/order/data/local_order_draft_repository.dart
  app/lib/features/order/domain/order_draft.dart
  app/lib/features/order/presentation/order_flow_entry_screen.dart
  app/test/order_draft_repository_test.dart
  app/test/widget_test.dart
  doc/app-mvp-implementation-tasks-from-web.md
Due: dart-format, flutter-analyze, flutter-test

Implement M09-T04 app order request
  api/src/main.rs
  doc/app-mvp-implementation-tasks-from-web.md
Due: go-test-api

Implement M09-T05 web order compatibility
  api/src/main.rs
  doc/app-mvp-implementation-tasks-from-web.md
  web/src/main.rs
Due: go-test-api, go-test-web

Implement M09-T06 AI generated seal font seed
  api/src/bin/seed_catalog.rs
  doc/app-mvp-implementation-tasks-from-web.md
Due: go-test-api

Implement M09-T07 checkout processing
  app/lib/app/app.dart
  app/lib/app/localization/hanko_localizations.dart
  app/lib/features/order/data/order_repository.dart
  app/lib/features/order/domain/order_models.dart
  app/lib/features/order/presentation/order_flow_entry_screen.dart
  app/test/api_dto_test.dart
  app/test/widget_test.dart
  doc/app-mvp-implementation-tasks-from-web.md
Due: dart-format, flutter-analyze, flutter-test

Implement M09-T08 Stripe checkout transition
  app/android/app/src/main/AndroidManifest.xml
  app/ios/Runner/Info.plist
  app/lib/app/app.dart
  app/lib/app/localization/hanko_localizations.dart
  app/lib/features/order/data/checkout_url_launcher.dart
  app/lib/features/order/domain/checkout_return.dart
  app/lib/features/order/order.dart
  app/lib/features/order/presentation/order_flow_entry_screen.dart
  app/pubspec.lock
  app/pubspec.yaml
  app/test/checkout_return_test.dart
  app/test/widget_test.dart
  doc/app-mvp-implementation-tasks-from-web.md
Due: dart-format, flutter-analyze, flutter-test

Implement M09-T09 payment status check
  api/src/main.rs
  app/lib/app/app.dart
  app/lib/app/localization/hanko_localizations.dart
  app/lib/features/order/presentation/order_flow_entry_screen.dart
  app/lib/features/order_lookup/data/order_lookup_repository.dart
  app/test/api_dto_test.dart
  app/test/widget_test.dart
  doc/app-mvp-implementation-tasks-from-web.md
Due: dart-format, flutter-analyze, flutter-test, go-test-api

Implement M09-T10 checkout cancel failure screens
  app/lib/app/app.dart
  app/lib/app/localization/hanko_localizations.dart
  app/lib/features/order/presentation/order_flow_entry_screen.dart
  app/test/checkout_return_test.dart
  app/test/widget_test.dart
  doc/app-mvp-implementation-tasks-from-web.md
Due: dart-format, flutter-analyze, flutter-test

Implement M09-T11 order complete screen
  app/lib/app/app.dart
  app/lib/app/localization/hanko_localizations.dart
  app/lib/features/order/presentation/order_flow_entry_screen.dart
  app/lib/features/order_lookup/presentation/order_lookup_entry_screen.dart
  app/test/widget_test.dart
  doc/app-mvp-implementation-tasks-from-web.md
Due: dart-format, flutter-analyze, flutter-test

Implement M10-T01 order status API
  api/src/main.rs
  doc/app-mvp-implementation-tasks-from-web.md
Due: go-test-api

Implement M10-T02 order lookup API
  api/src/main.rs
  doc/app-mvp-implementation-tasks-from-web.md
Due: go-test-api

Implement M10-T03 order lookup input
  app/lib/features/order_lookup/presentation/order_lookup_entry_screen.dart
  app/test/widget_test.dart
  doc/app-mvp-implementation-tasks-from-web.md
Due: dart-format, flutter-analyze, flutter-test

Implement M10-T04 order lookup states
  app/lib/app/app.dart
  app/lib/app/localization/hanko_localizations.dart
  app/lib/features/order_lookup/data/order_lookup_repository.dart
  app/lib/features/order_lookup/domain/order_lookup_models.dart
  app/lib/features/order_lookup/presentation/order_lookup_entry_screen.dart
  app/test/widget_test.dart
  doc/app-mvp-implementation-tasks-from-web.md
Due: dart-format, flutter-analyze, flutter-test

Implement M10-T05 order lookup result
  app/lib/app/localization/hanko_localizations.dart
  app/lib/features/order_lookup/data/order_lookup_repository.dart
  app/lib/features/order_lookup/domain/order_lookup_models.dart
  app/lib/features/order_lookup/presentation/order_lookup_entry_screen.dart
  app/test/api_dto_test.dart
  app/test/widget_test.dart
  doc/app-mvp-implementation-tasks-from-web.md
Due: dart-format, flutter-analyze, flutter-test

Implement M10-T06 tracking details
  app/lib/app/localization/hanko_localizations.dart
  app/lib/features/order_lookup/presentation/order_lookup_entry_screen.dart
  app/test/widget_test.dart
  doc/app-mvp-implementation-tasks-from-web.md
Due: dart-format, flutter-analyze, flutter-test

Implement M11-T01 admin order list
  admin/src/main.rs
  admin/templates/orders_list.html
  doc/app-mvp-implementation-tasks-from-web.md
Due: go-test-admin

Implement M11-T02 admin seal preview
  admin/src/main.rs
  admin/templates/order_detail.html
  doc/app-mvp-implementation-tasks-from-web.md
Due: go-test-admin

Implement M11-T03 admin seal metadata
  admin/src/main.rs
  admin/templates/order_detail.html
  doc/app-mvp-implementation-tasks-from-web.md
Due: go-test-admin

Implement M11-T04 admin customer confirmation
  admin/src/main.rs
  admin/templates/order_detail.html
  doc/app-mvp-implementation-tasks-from-web.md
Due: go-test-admin

Implement M11-T05 admin legacy order compatibility
  admin/src/main.rs
  doc/app-mvp-implementation-tasks-from-web.md
Due: go-test-admin

Implement M11-T06 admin app order operations
  admin/src/main.rs
  doc/app-mvp-implementation-tasks-from-web.md
Due: go-test-admin

Implement M12-T01 email sent notice
  app/lib/app/localization/hanko_localizations.dart
  app/lib/core/widgets/core_widgets.dart
  app/lib/core/widgets/hanko_email_sent_notice.dart
  app/lib/features/order/presentation/order_flow_entry_screen.dart
  app/lib/features/order_lookup/presentation/order_lookup_entry_screen.dart
  app/test/widget_test.dart
  doc/app-mvp-implementation-tasks-from-web.md
Due: dart-format, flutter-analyze, flutter-test

Implement M12-T02 missing email guide
  app/lib/app/app.dart
  app/lib/app/localization/hanko_localizations.dart
  app/lib/features/order/presentation/order_flow_entry_screen.dart
  app/test/widget_test.dart
  doc/app-mvp-implementation-tasks-from-web.md
Due: dart-format, flutter-analyze, flutter-test

Implement M12-T03 contact support prompt
  app/lib/app/app.dart
  app/lib/app/localization/hanko_localizations.dart
  app/lib/core/widgets/core_widgets.dart
  app/lib/core/widgets/hanko_contact_support_prompt.dart
  app/lib/features/order/presentation/order_flow_entry_screen.dart
  app/lib/features/settings/presentation/settings_home_screen.dart
  app/test/widget_test.dart
  doc/app-mvp-implementation-tasks-from-web.md
Due: dart-format, flutter-analyze, flutter-test

Implement M12-T04 common API errors
  app/lib/app/app.dart
  app/lib/app/localization/hanko_localizations.dart
  app/lib/core/errors/app_error.dart
  app/lib/core/errors/core_errors.dart
  app/lib/core/widgets/core_widgets.dart
  app/lib/core/widgets/hanko_error_state_view.dart
  app/lib/features/design/presentation/design_home_screen.dart
  app/lib/features/order_lookup/presentation/order_lookup_entry_screen.dart
  app/lib/features/stones/presentation/stones_home_screen.dart
  app/test/api_dto_test.dart
  app/test/widget_test.dart
  doc/app-mvp-implementation-tasks-from-web.md
Due: dart-format, flutter-analyze, flutter-test

Implement M12-T05 storage and deep link errors
  app/lib/app/app.dart
  app/lib/app/localization/hanko_localizations.dart
  app/lib/core/errors/app_error.dart
  app/lib/features/design/presentation/design_home_screen.dart
  app/lib/features/order/domain/checkout_return.dart
  app/lib/features/order/presentation/order_flow_entry_screen.dart
  app/test/api_dto_test.dart
  app/test/checkout_return_test.dart
  app/test/widget_test.dart
  doc/app-mvp-implementation-tasks-from-web.md
Due: dart-format, flutter-analyze, flutter-test

Implement M12-T06 availability screens
  app/lib/app/localization/hanko_localizations.dart
  app/lib/features/common/common.dart
  app/lib/features/common/presentation/app_availability_screen.dart
  app/test/widget_test.dart
  doc/app-mvp-implementation-tasks-from-web.md
Due: dart-format, flutter-analyze, flutter-test

Implement M13-T01 Flutter unit tests
  app/test/api_dto_test.dart
  app/test/local_seal_design_repository_test.dart
  app/test/order_draft_repository_test.dart
  doc/app-mvp-implementation-tasks-from-web.md
Due: dart-format, flutter-analyze, flutter-test

Path conditions:
  dart-format: any of: app/**/*.dart
  flutter-analyze: any of: app/**/*.dart
  flutter-test: any of: app/**/*.dart
  gofmt-api: any of: api/**/*.go
  go-test-api: any of: api/**/*
  gofmt-admin: any of: admin/**/*.go
  go-test-admin: any of: admin/**/*
  gofmt-web: any of: web/**/*.go
  go-test-web: any of: web/**/*
