Repository finitefield-org/hanko-field: changes, and which lefthook commands are due for each by the changed paths.
All: dart-format, flutter-analyze, flutter-test, gofmt-api, go-test-api, gofmt-admin, go-test-admin, gofmt-web, go-test-web

dart-format:
  run: 'echo "ğŸ¯ Running dart format..."
  
    dart format app/
  
    '
  stage_fixed: true

flutter-analyze:
  run: 'echo "ğŸ§  Running flutter analyze..."
  
    cd app && flutter analyze
  
    '

flutter-test:
  run: 'echo "ğŸ§ª Running flutter tests..."
  
    cd app && flutter test --no-pub
  
    '

gofmt-api:
  run: "echo \"ğŸ§¹ Running gofmt for api...\"\nfor file in {staged_files}; do\n  gofmt -w \"$file\"\ndone\n"
  stage_fixed: true

go-test-api:
  run: 'echo "âœ… Running go test (api)..."
  
    cd api && go test ./...
  
    '

gofmt-admin:
  run: "echo \"ğŸ§¹ Running gofmt for admin...\"\nfor file in {staged_files}; do\n  gofmt -w \"$file\"\ndone\n"
  stage_fixed: true

go-test-admin:
  run: 'echo "âœ… Running go test (admin)..."
  
    cd admin && go test ./...
  
    '

gofmt-web:
  run: "echo \"ğŸ§¹ Running gofmt for web...\"\nfor file in {staged_files}; do\n  gofmt -w \"$file\"\ndone\n"
  stage_fixed: true

go-test-web:
  run: 'echo "âœ… Running go test (web)..."
  
    cd web && go test ./...
  
    '

Add DES-004 kanji choice HTML mockup
  doc/screens/html/DES-004.html
Due: none

Add DES-006 seal style HTML mockup
  doc/screens/html/DES-006.html
Due: none

Add DES-010 seal saved HTML mockup
  doc/screens/html/DES-010.html
  doc/screens/html/assets/des-010-saved-seal.png
Due: none

Add DES-007 generating designs HTML mockup
  doc/screens/html/DES-007.html
  doc/screens/html/assets/des-007-square-seal.png
Due: none

Add DES-008 seal design HTML mockup
  doc/screens/html/DES-008.html
  doc/screens/html/assets/des-008-seal-balanced.png
  doc/screens/html/assets/des-008-seal-bold.png
  doc/screens/html/assets/des-008-seal-refined.png
Due: none

Add DES-009 seal preview HTML mockup
  doc/screens/html/DES-009.html
  doc/screens/html/assets/des-009-icon-balance.png
  doc/screens/html/assets/des-009-icon-kanji.png
  doc/screens/html/assets/des-009-icon-meaning.png
  doc/screens/html/assets/des-009-icon-rules.png
  doc/screens/html/assets/des-009-icon-stroke.png
  doc/screens/html/assets/des-009-icon-style.png
  doc/screens/html/assets/des-009-seal-preview.png
Due: none

Add COM-003 design home HTML mockup
  doc/screens/html/COM-003.html
  doc/screens/html/assets/com-003-hero-seal.png
  doc/screens/html/assets/com-003-saved-seal.png
  doc/screens/html/assets/com-003-stones.png
  doc/screens/html/assets/com-003-white-gem.png
Due: none

Implement COM-003 declarative tab shell
  app/assets/design/com003_gemstones.png
  app/assets/design/com003_hero_seal.png
  app/assets/design/com003_saved_seal.png
  app/lib/app/app.dart
  app/lib/app/config/app_runtime_config.dart
  app/lib/app/fonts/app_fonts.dart
  app/lib/app/localization/app_locale_view_model.dart
  app/lib/app/navigation/app_nav_models.dart
  app/lib/app/navigation/app_nav_view_model.dart
  app/lib/app/navigation/app_navigation_shell.dart
  app/lib/app/theme/hf_theme.dart
  app/lib/app/widgets/app_settings_button.dart
  app/lib/app/widgets/app_site_chrome.dart
  app/lib/features/about/presentation/about_page.dart
  app/lib/features/legal/presentation/legal_notice_page.dart
  app/lib/features/legal/presentation/legal_page_shell.dart
  app/lib/features/legal/presentation/terms_page.dart
  app/lib/features/order/data/order_api_repository.dart
  app/lib/features/order/data/order_draft_storage.dart
  app/lib/features/order/data/saved_seal_design_storage.dart
  app/lib/features/order/domain/order_models.dart
  app/lib/features/order/presentation/order_page.dart
  app/lib/features/order/presentation/order_view_model.dart
  app/lib/features/payment/presentation/payment_failure_page.dart
  app/lib/features/payment/presentation/payment_success_page.dart
  app/lib/features/top/presentation/top_page.dart
  app/pubspec.lock
  app/pubspec.yaml
  app/test/app_locale_view_model_test.dart
  app/test/app_runtime_config_test.dart
  app/test/order_draft_storage_test.dart
  app/test/order_models_test.dart
  app/test/order_view_model_test.dart
  app/test/saved_seal_design_storage_test.dart
  app/test/widget_test.dart
  doc/app-mvp-implementation-tasks-from-web.md
Due: dart-format, flutter-analyze, flutter-test

Implement M01-T01 screen code IDs
  doc/app-mvp-implementation-tasks-from-web.md
  doc/app-mvp-screen-design.md
Due: none

Implement M01-T02 web feature classification
  doc/app-mvp-implementation-tasks-from-web.md
Due: none

Implement M01-T03 screen task breakdown
  doc/app-mvp-implementation-tasks-from-web.md
Due: none

Implement M01-T04 web admin update policy
  doc/app-mvp-implementation-tasks-from-web.md
Due: none

Implement M02-T02 feature structure
  app/lib/app/app.dart
  app/lib/features/design/design.dart
  app/lib/features/design/presentation/design_home_screen.dart
  app/lib/features/my_seals/my_seals.dart
  app/lib/features/my_seals/presentation/my_seals_home_screen.dart
  app/lib/features/order/order.dart
  app/lib/features/order/presentation/order_flow_entry_screen.dart
  app/lib/features/order_lookup/order_lookup.dart
  app/lib/features/order_lookup/presentation/order_lookup_entry_screen.dart
  app/lib/features/settings/presentation/settings_home_screen.dart
  app/lib/features/settings/settings.dart
  app/lib/features/stones/presentation/stones_home_screen.dart
  app/lib/features/stones/stones.dart
  app/test/widget_test.dart
  doc/app-mvp-implementation-tasks-from-web.md
Due: dart-format, flutter-analyze, flutter-test

Implement M02-T03 app data boundaries
  app/lib/core/api/api_json.dart
  app/lib/core/api/core_api.dart
  app/lib/core/api/hanko_api_client.dart
  app/lib/core/domain/money.dart
  app/lib/features/design/data/kanji_candidates_repository.dart
  app/lib/features/design/design.dart
  app/lib/features/design/domain/kanji_candidate.dart
  app/lib/features/my_seals/data/saved_seal_design_repository.dart
  app/lib/features/my_seals/domain/saved_seal_design.dart
  app/lib/features/my_seals/my_seals.dart
  app/lib/features/order/data/order_repository.dart
  app/lib/features/order/domain/order_models.dart
  app/lib/features/order/order.dart
  app/lib/features/order_lookup/data/order_lookup_repository.dart
  app/lib/features/order_lookup/domain/order_lookup_models.dart
  app/lib/features/order_lookup/order_lookup.dart
  app/lib/features/settings/data/public_config_repository.dart
  app/lib/features/settings/domain/public_config.dart
  app/lib/features/settings/settings.dart
  app/lib/features/stones/data/stone_listings_repository.dart
  app/lib/features/stones/domain/stone_listing.dart
  app/lib/features/stones/stones.dart
  app/test/api_dto_test.dart
  doc/app-mvp-implementation-tasks-from-web.md
Due: dart-format, flutter-analyze, flutter-test

Implement M02-T04 shared app UI
  app/lib/app/app.dart
  app/lib/app/theme/app_theme.dart
  app/lib/app/theme/hanko_theme.dart
  app/lib/core/widgets/core_widgets.dart
  app/lib/core/widgets/hanko_feature_page.dart
  app/lib/core/widgets/hanko_primary_button.dart
  app/lib/core/widgets/hanko_state_view.dart
  app/lib/core/widgets/hanko_surface_card.dart
  app/lib/core/widgets/hanko_text_field.dart
  app/lib/features/design/presentation/design_home_screen.dart
  app/lib/features/my_seals/presentation/my_seals_home_screen.dart
  app/lib/features/order/presentation/order_flow_entry_screen.dart
  app/lib/features/order_lookup/presentation/order_lookup_entry_screen.dart
  app/lib/features/settings/presentation/settings_home_screen.dart
  app/lib/features/stones/presentation/stones_home_screen.dart
  app/test/widget_test.dart
  doc/app-mvp-implementation-tasks-from-web.md
Due: dart-format, flutter-analyze, flutter-test

Implement M02-T05 app localization
  app/lib/app/app.dart
  app/lib/app/localization/app_localization.dart
  app/lib/app/localization/hanko_localizations.dart
  app/lib/features/design/presentation/design_home_screen.dart
  app/lib/features/my_seals/presentation/my_seals_home_screen.dart
  app/lib/features/order/presentation/order_flow_entry_screen.dart
  app/lib/features/order_lookup/presentation/order_lookup_entry_screen.dart
  app/lib/features/settings/presentation/settings_home_screen.dart
  app/lib/features/stones/presentation/stones_home_screen.dart
  app/pubspec.lock
  app/pubspec.yaml
  app/test/widget_test.dart
  doc/app-mvp-implementation-tasks-from-web.md
Due: dart-format, flutter-analyze, flutter-test

Implement M02-T06 app storage dependencies
  app/pubspec.lock
  app/pubspec.yaml
  doc/app-mvp-implementation-tasks-from-web.md
Due: none

Implement M03-T01 splash launch flow
  app/lib/app/app.dart
  app/lib/app/localization/hanko_localizations.dart
  app/lib/features/common/common.dart
  app/lib/features/common/data/app_launch_store.dart
  app/lib/features/common/presentation/onboarding_screen.dart
  app/lib/features/common/presentation/splash_screen.dart
  app/test/widget_test.dart
  doc/app-mvp-implementation-tasks-from-web.md
Due: dart-format, flutter-analyze, flutter-test

Implement M03-T02 onboarding screen
  app/lib/app/app.dart
  app/lib/app/localization/hanko_localizations.dart
  app/lib/features/common/presentation/onboarding_screen.dart
  app/lib/features/common/presentation/splash_screen.dart
  app/test/widget_test.dart
  doc/app-mvp-implementation-tasks-from-web.md
Due: dart-format, flutter-analyze, flutter-test

Implement M03-T03 settings navigation
  app/lib/app/app.dart
  app/lib/app/localization/hanko_localizations.dart
  app/lib/features/settings/presentation/settings_home_screen.dart
  app/test/widget_test.dart
  doc/app-mvp-implementation-tasks-from-web.md
Due: dart-format, flutter-analyze, flutter-test

Implement M03-T04 settings content
  app/lib/app/localization/hanko_localizations.dart
  app/lib/features/settings/presentation/settings_content.dart
  app/lib/features/settings/presentation/settings_home_screen.dart
  app/test/widget_test.dart
  doc/app-mvp-implementation-tasks-from-web.md
Due: dart-format, flutter-analyze, flutter-test

Implement M03-T05 settings help and contact
  app/lib/app/localization/hanko_localizations.dart
  app/lib/features/settings/presentation/settings_content.dart
  app/lib/features/settings/presentation/settings_home_screen.dart
  app/test/widget_test.dart
  doc/app-mvp-implementation-tasks-from-web.md
Due: dart-format, flutter-analyze, flutter-test

Implement M04-T01 design name input
  app/lib/app/app.dart
  app/lib/app/localization/hanko_localizations.dart
  app/lib/app/navigation/app_navigation_shell.dart
  app/lib/features/design/presentation/design_home_screen.dart
  app/test/widget_test.dart
  doc/app-mvp-implementation-tasks-from-web.md
Due: dart-format, flutter-analyze, flutter-test

Implement M04-T02 kanji suggestion states
  app/lib/app/app.dart
  app/lib/app/localization/hanko_localizations.dart
  app/lib/core/widgets/hanko_text_field.dart
  app/lib/features/design/presentation/design_home_screen.dart
  app/test/widget_test.dart
  doc/app-mvp-implementation-tasks-from-web.md
Due: dart-format, flutter-analyze, flutter-test

Implement M04-T03 kanji candidates API
  app/lib/app/app.dart
  app/lib/app/localization/hanko_localizations.dart
  app/lib/app/navigation/app_navigation_shell.dart
  app/lib/features/design/data/kanji_candidates_repository.dart
  app/lib/features/design/presentation/design_home_screen.dart
  app/test/widget_test.dart
  doc/app-mvp-implementation-tasks-from-web.md
Due: dart-format, flutter-analyze, flutter-test

Implement M04-T04 kanji candidate details
  api/src/main.rs
  app/lib/app/localization/hanko_localizations.dart
  app/lib/features/design/presentation/design_home_screen.dart
  app/test/widget_test.dart
  doc/app-mvp-implementation-tasks-from-web.md
Due: dart-format, flutter-analyze, flutter-test, go-test-api

Implement M04-T05 kanji candidate detail
  app/lib/app/app.dart
  app/lib/app/localization/hanko_localizations.dart
  app/lib/features/design/presentation/design_home_screen.dart
  app/test/widget_test.dart
  doc/app-mvp-implementation-tasks-from-web.md
Due: dart-format, flutter-analyze, flutter-test

Implement M05-T01 seal style selection
  app/lib/app/app.dart
  app/lib/app/localization/hanko_localizations.dart
  app/lib/features/design/design.dart
  app/lib/features/design/domain/seal_style_selection.dart
  app/lib/features/design/presentation/design_home_screen.dart
  app/test/widget_test.dart
  doc/app-mvp-implementation-tasks-from-web.md
Due: dart-format, flutter-analyze, flutter-test

Implement M05-T02 seal designs API
  api/src/main.rs
  doc/app-mvp-implementation-tasks-from-web.md
Due: go-test-api

Implement M05-T03 seal image storage
  api/Cargo.lock
  api/Cargo.toml
  api/src/main.rs
  doc/app-mvp-implementation-tasks-from-web.md
Due: go-test-api

Implement M05-T04 seal generation states
  app/lib/app/app.dart
  app/lib/app/localization/hanko_localizations.dart
  app/lib/features/design/data/seal_designs_repository.dart
  app/lib/features/design/design.dart
  app/lib/features/design/domain/seal_generation.dart
  app/lib/features/design/presentation/design_home_screen.dart
  app/test/widget_test.dart
  doc/app-mvp-implementation-tasks-from-web.md
Due: dart-format, flutter-analyze, flutter-test

Implement M05-T05 seal variant selection
  app/lib/app/app.dart
  app/lib/app/localization/hanko_localizations.dart
  app/lib/features/design/data/seal_designs_repository.dart
  app/lib/features/design/domain/seal_generation.dart
  app/lib/features/design/presentation/design_home_screen.dart
  app/test/api_dto_test.dart
  app/test/widget_test.dart
  doc/app-mvp-implementation-tasks-from-web.md
Due: dart-format, flutter-analyze, flutter-test

Implement M05-T06 seal preview detail
  app/lib/app/app.dart
  app/lib/app/localization/hanko_localizations.dart
  app/lib/app/navigation/app_navigation_shell.dart
  app/lib/features/design/presentation/design_home_screen.dart
  app/test/widget_test.dart
  doc/app-mvp-implementation-tasks-from-web.md
Due: dart-format, flutter-analyze, flutter-test

Implement M06-T01 local seal storage
  app/lib/features/my_seals/data/local_seal_design_repository.dart
  app/lib/features/my_seals/data/saved_seal_design_repository.dart
  app/lib/features/my_seals/domain/local_seal_design.dart
  app/lib/features/my_seals/domain/saved_seal_design.dart
  app/lib/features/my_seals/my_seals.dart
  app/pubspec.lock
  app/pubspec.yaml
  app/test/local_seal_design_repository_test.dart
  doc/app-mvp-implementation-tasks-from-web.md
Due: dart-format, flutter-analyze, flutter-test

Implement M06-T02 seal save confirmation
  app/lib/app/app.dart
  app/lib/app/localization/hanko_localizations.dart
  app/lib/features/design/presentation/design_home_screen.dart
  app/test/widget_test.dart
  doc/app-mvp-implementation-tasks-from-web.md
Due: dart-format, flutter-analyze, flutter-test

Implement M06-T03 my seals list
  app/lib/app/app.dart
  app/lib/app/localization/hanko_localizations.dart
  app/lib/features/my_seals/data/local_seal_design_repository.dart
  app/lib/features/my_seals/presentation/my_seals_home_screen.dart
  app/lib/main.dart
  app/test/widget_test.dart
  doc/app-mvp-implementation-tasks-from-web.md
Due: dart-format, flutter-analyze, flutter-test

Implement M06-T04 seal detail
  app/lib/app/app.dart
  app/lib/app/localization/hanko_localizations.dart
  app/lib/features/my_seals/presentation/my_seals_home_screen.dart
  app/test/widget_test.dart
  doc/app-mvp-implementation-tasks-from-web.md
Due: dart-format, flutter-analyze, flutter-test

Implement M06-T05 seal delete and order selection
  app/lib/app/app.dart
  app/lib/app/localization/hanko_localizations.dart
  app/lib/features/my_seals/presentation/my_seals_home_screen.dart
  app/lib/features/order/domain/order_draft.dart
  app/lib/features/order/order.dart
  app/test/widget_test.dart
  doc/app-mvp-implementation-tasks-from-web.md
Due: dart-format, flutter-analyze, flutter-test

Implement M06-T06 deferred my seals edit comparison
  app/lib/app/localization/hanko_localizations.dart
  app/lib/features/my_seals/presentation/my_seals_home_screen.dart
  app/test/widget_test.dart
  doc/app-mvp-implementation-tasks-from-web.md
Due: dart-format, flutter-analyze, flutter-test

Implement M07-T01 stones list states
  app/lib/app/app.dart
  app/lib/app/localization/hanko_localizations.dart
  app/lib/core/api/hanko_api_client.dart
  app/lib/features/design/data/kanji_candidates_repository.dart
  app/lib/features/design/data/seal_designs_repository.dart
  app/lib/features/stones/data/stone_listings_repository.dart
  app/lib/features/stones/presentation/stones_home_screen.dart
  app/test/widget_test.dart
  doc/app-mvp-implementation-tasks-from-web.md
Due: dart-format, flutter-analyze, flutter-test

Path conditions:
  dart-format: any of: app/**/*.dart
  flutter-analyze: any of: app/**/*.dart
  flutter-test: any of: app/**/*.dart
  gofmt-api: any of: api/**/*.go
  go-test-api: any of: api/**/*
  gofmt-admin: any of: admin/**/*.go
  go-test-admin: any of: admin/**/*
  gofmt-web: any of: web/**/*.go
  go-test-web: any of: web/**/*
