Repository finitefield-org/hanko-field: changes, and which lefthook commands are due for each by the changed paths.
All: dart-format, flutter-analyze, flutter-test, gofmt-api, go-test-api, gofmt-admin, go-test-admin, gofmt-web, go-test-web

.lefthook.yml:

fail_fast: true

pre-commit:
  parallel: true
  commands:
    # --- åŸºæœ¬ãƒã‚§ãƒƒã‚¯ ---
    check-merge-conflict-app:
      run: |
        echo "ğŸ” Checking for merge conflict markers..."
        if git grep -n "<<<<<<< HEAD" -- app/ >/dev/null 2>&1; then
          echo "âŒ Merge conflict marker found."
          git grep -n "<<<<<<< HEAD" -- app/
          exit 1
        fi
    check-merge-conflict-api:
      run: |
        echo "ğŸ” Checking for merge conflict markers..."
        if git grep -n "<<<<<<< HEAD" -- api/ >/dev/null 2>&1; then
          echo "âŒ Merge conflict marker found."
          git grep -n "<<<<<<< HEAD" -- api/
          exit 1
        fi
    check-merge-conflict-admin:
      run: |
        echo "ğŸ” Checking for merge conflict markers..."
        if git grep -n "<<<<<<< HEAD" -- admin/ >/dev/null 2>&1; then
          echo "âŒ Merge conflict marker found."
          git grep -n "<<<<<<< HEAD" -- admin/
          exit 1
        fi
    check-merge-conflict-web:
      run: |
        echo "ğŸ” Checking for merge conflict markers..."
        if git grep -n "<<<<<<< HEAD" -- web/ >/dev/null 2>&1; then
          echo "âŒ Merge conflict marker found."
          git grep -n "<<<<<<< HEAD" -- web/
          exit 1
        fi

    # --- Dart/Flutter ãƒã‚§ãƒƒã‚¯ ---

    dart-format:
      run: |
        echo "ğŸ¯ Running dart format..."
        dart format app/
      stage_fixed: true
      glob: "app/**/*.dart"

    flutter-analyze:
      run: |
        echo "ğŸ§  Running flutter analyze..."
        cd app && flutter analyze
      glob: "app/**/*.dart"

    flutter-test:
      run: |
        echo "ğŸ§ª Running flutter tests..."
        cd app && flutter test --no-pub
      glob: "app/**/*.dart"

    # --- Go (api/admin) ãƒã‚§ãƒƒã‚¯ ---

    gofmt-api:
      run: |
        echo "ğŸ§¹ Running gofmt for api..."
        for file in {staged_files}; do
          gofmt -w "$file"
        done
      stage_fixed: true
      glob: "api/**/*.go"

    go-test-api:
      run: |
        echo "âœ… Running go test (api)..."
        cd api && go test ./...
      glob: "api/**/*"

    gofmt-admin:
      run: |
        echo "ğŸ§¹ Running gofmt for admin..."
        for file in {staged_files}; do
          gofmt -w "$file"
        done
      stage_fixed: true
      glob: "admin/**/*.go"

    go-test-admin:
      run: |
        echo "âœ… Running go test (admin)..."
        cd admin && go test ./...
      glob: "admin/**/*"

    gofmt-web:
      run: |
        echo "ğŸ§¹ Running gofmt for web..."
        for file in {staged_files}; do
          gofmt -w "$file"
        done
      stage_fixed: true
      glob: "web/**/*.go"

    go-test-web:
      run: |
        echo "âœ… Running go test (web)..."
        cd web && go test ./...
      glob: "web/**/*"

edita Japanese
  web/internal/nav/nav.go
  web/locales/en.json
  web/locales/ja.json
Due: gofmt-web, go-test-web

sideguide Japanese
  web/cmd/web/editor.go
  web/internal/nav/nav.go
  web/locales/en.json
  web/locales/ja.json
  web/templates/pages/shop.html
  web/templates/partials/components/forms.html
Due: gofmt-web, go-test-web

syuusei
  web/cmd/web/account_billing_handlers.go
  web/cmd/web/account_billing_view.go
  web/cmd/web/account_notifications_handlers.go
  web/cmd/web/account_notifications_view.go
  web/cmd/web/main.go
  web/internal/nav/nav.go
  web/locales/en.json
  web/locales/ja.json
  web/templates/pages/account_billing.html
  web/templates/pages/account_notifications.html
Due: gofmt-web, go-test-web

update
  admin/internal/admin/httpserver/server.go
  admin/internal/admin/httpserver/ui/catalog_handlers.go
  admin/internal/admin/templates/catalog/data.go
  admin/internal/admin/webtmpl/templates/catalog/edit.html
  admin/internal/admin/webtmpl/templates/catalog/index.html
  admin/internal/admin/webtmpl/templates/catalog/modals.html
  admin/internal/admin/webtmpl/templates/catalog/table.html
  admin/internal/admin/webtmpl/views.go
Due: gofmt-admin, go-test-admin

Remove Makefile and associated build targets to streamline project structure.
  Makefile
Due: none

change in devbox
  .lefthook.yml
  README.md
  devbox.json
  scripts/ironframe.sh
Due: none

Document devbox and Firebase setup
  README.md
  compose.yaml
Due: none

Remove jdk from devbox setup
  devbox.json
Due: none

Adjust font chip display rules
  devbox.json
  web/.gitignore
  web/Makefile
  web/go.mod
  web/main.go
  web/static/app.js
  web/static/input.css
  web/templates/index.html
Due: go-test-web

add design i18n
  doc/design.md
  doc/firebase-firestore-design.md
  web/main.go
  web/static/app.js
  web/static/input.css
  web/templates/index.html
Due: go-test-web

add web, api, admin
  README.md
  admin/.gitignore
  admin/Makefile
  admin/go.mod
  admin/main.go
  admin/main_test.go
  admin/static/admin.js
  admin/static/input.css
  admin/templates/index.html
  api/Makefile
  api/go.mod
  api/go.sum
  api/internal/config/config.go
  api/internal/httpapi/server.go
  api/internal/httpapi/server_test.go
  api/internal/httpapi/stripe.go
  api/internal/httpapi/validation.go
  api/internal/store/firestore.go
  api/internal/store/store.go
  api/main.go
  doc/design.md
  doc/firebase-firestore-design.md
  web/go.mod
  web/go.sum
  web/main.go
  web/templates/index.html
Due: gofmt-api, go-test-api, go-test-admin, go-test-web

管理画面でFirestore環境切替追加
  README.md
  admin/Makefile
  admin/config_firestore.go
  admin/config_firestore_test.go
  admin/go.mod
  admin/go.sum
  admin/main.go
  admin/templates/index.html
  doc/design.md
  doc/firebase-firestore-design.md
Due: go-test-admin

Update docs for Rust web stack
  AGENTS.md
  README.md
Due: none

Switch web stack to Rust
  AGENTS.md
  README.md
  web/.gitignore
  web/Cargo.lock
  web/Cargo.toml
  web/Makefile
  web/go.mod
  web/go.sum
  web/main.go
  web/src/main.rs
  web/templates/index.html
  web/templates/kanji_suggestions.html
  web/templates/purchase_result.html
Due: go-test-web

Add .env file support and update README for environment configuration
  .env.dev.example
  .env.prod.example
  .gitignore
  Makefile
  README.md
Due: none

Add Makefile env loading
  .gitignore
  Makefile
  README.md
  admin/Makefile
  api/Makefile
  compose.yaml
  scripts/ironframe.sh
  web/Makefile
Due: none

Add Firestore indexes for fonts, materials, and countries; initialize Firestore rules
  firestore.indexes.json
  firestore.rules
Due: none

Convert Go services to Rust
  AGENTS.md
  Makefile
  README.md
  admin/.gitignore
  admin/Cargo.lock
  admin/Cargo.toml
  admin/Makefile
  admin/config_firestore.go
  admin/config_firestore_test.go
  admin/go.mod
  admin/go.sum
  admin/main.go
  admin/main_test.go
  admin/src/main.rs
  admin/templates/index.html
  admin/templates/material_detail.html
  admin/templates/materials_list.html
  admin/templates/order_detail.html
  admin/templates/orders_list.html
  admin/templates/page.html
  api/.gitignore
  api/Cargo.lock
  api/Cargo.toml
  api/Makefile
  api/go.mod
  api/go.sum
  api/internal/config/config.go
  api/internal/httpapi/server.go
  api/internal/httpapi/server_test.go
  api/internal/httpapi/stripe.go
  api/internal/httpapi/validation.go
  api/internal/store/firestore.go
  api/internal/store/store.go
  api/main.go
  api/src/main.rs
  doc/design.md
Due: gofmt-api, go-test-api, go-test-admin

Update admin Tailwind CSS
  admin/static/admin.js
  admin/static/input.css
  admin/templates/material_detail.html
  admin/templates/materials_list.html
  admin/templates/order_detail.html
  admin/templates/orders_list.html
  admin/templates/page.html
Due: go-test-admin

Update README quickstart guide
  README.md
  devbox.lock
  scripts/ironframe.sh
Due: none

管理画面を注文と材質ページに分割する
  admin/src/main.rs
  admin/templates/material_detail.html
  admin/templates/material_edit_page.html
  admin/templates/materials_list.html
  admin/templates/materials_page.html
  admin/templates/orders_page.html
  doc/design.md
Due: go-test-admin

修正 画像アップロードとプレビュー対応
  .env.dev.example
  .env.prod.example
  admin/Cargo.lock
  admin/Cargo.toml
  admin/src/main.rs
  admin/static/admin.js
  admin/templates/material_create.html
  admin/templates/material_create_page.html
  admin/templates/materials_list.html
  admin/templates/materials_page.html
  admin/templates/orders_page.html
  doc/design.md
Due: go-test-admin

名前文字数制限を追加」} PMID? but no? also no
  .env.dev.example
  .env.prod.example
  admin/src/main.rs
  admin/templates/countries_list.html
  admin/templates/countries_page.html
  admin/templates/country_create.html
  admin/templates/country_detail.html
  admin/templates/font_detail.html
  admin/templates/font_edit_page.html
  admin/templates/fonts_list.html
  admin/templates/fonts_page.html
  admin/templates/material_edit_page.html
  admin/templates/materials_page.html
  admin/templates/orders_page.html
  api/Cargo.lock
  api/Cargo.toml
  api/src/main.rs
  compose.yaml
  doc/design.md
  web/Cargo.lock
  web/Cargo.toml
  web/src/main.rs
  web/static/app.js
  web/static/input.css
  web/templates/index.html
  web/templates/kanji_suggestions.html
Due: go-test-api, go-test-admin, go-test-web

Update Gemini model version in environment and configuration files
  .env.dev.example
  .env.prod.example
  api/src/main.rs
  compose.yaml
Due: go-test-api

Add Gemini name generator options
  api/src/main.rs
  doc/design.md
  web/src/main.rs
  web/templates/index.html
  web/templates/kanji_suggestions.html
Due: go-test-api, go-test-web

Update kanji suggestion text
  web/templates/kanji_suggestions.html
Due: go-test-web

Remove unused source_label field
  web/src/main.rs
  web/static/input.css
  web/templates/index.html
Due: go-test-web

Add shape data to material model
  admin/src/main.rs
  admin/templates/material_create.html
  admin/templates/material_detail.html
  admin/templates/materials_list.html
  api/src/main.rs
  doc/design.md
  doc/firebase-firestore-design.md
  web/src/main.rs
  web/static/app.js
  web/templates/index.html
Due: go-test-api, go-test-admin, go-test-web

Plan Stripe integration approach
  .env.dev.example
  .env.prod.example
  api/src/main.rs
  compose.yaml
  doc/design.md
  doc/firebase-firestore-design.md
  web/Cargo.lock
  web/Cargo.toml
  web/src/main.rs
  web/templates/index.html
Due: go-test-api, go-test-web

Update web title to Hanko Studio
  web/templates/index.html
Due: go-test-web

Update web titles and button
  web/templates/index.html
Due: go-test-web

追加ストレージバケット設定と写真表示
  .env.dev.example
  .env.prod.example
  scripts/ironframe.sh
  web/src/main.rs
  web/static/app.js
  web/static/input.css
  web/templates/index.html
Due: go-test-web

Update web title to Stone Signature
  web/templates/index.html
Due: go-test-web

Add read-only storage rules
  firebase.json
  storage.rules
  web/src/main.rs
Due: go-test-web

Update font master for Google Fonts
  admin/src/main.rs
  admin/templates/countries_page.html
  admin/templates/font_detail.html
  admin/templates/font_edit_page.html
  admin/templates/fonts_list.html
  admin/templates/fonts_page.html
  admin/templates/material_create_page.html
  admin/templates/material_edit_page.html
  admin/templates/materials_page.html
  admin/templates/orders_page.html
  api/src/main.rs
  doc/firebase-firestore-design.md
  web/src/main.rs
  web/static/app.js
  web/templates/index.html
Due: go-test-api, go-test-admin, go-test-web
