Repository finitefield-org/hanko-field: changes, and which lefthook commands are due for each by the changed paths.
All: dart-format, flutter-analyze, flutter-test, gofmt-api, go-test-api, gofmt-admin, go-test-admin, gofmt-web, go-test-web

.lefthook.yml:

fail_fast: true

pre-commit:
  parallel: true
  commands:
    # --- åŸºæœ¬ãƒã‚§ãƒƒã‚¯ ---
    check-merge-conflict-app:
      run: |
        echo "ğŸ” Checking for merge conflict markers..."
        if git grep -n "<<<<<<< HEAD" -- app/ >/dev/null 2>&1; then
          echo "âŒ Merge conflict marker found."
          git grep -n "<<<<<<< HEAD" -- app/
          exit 1
        fi
    check-merge-conflict-api:
      run: |
        echo "ğŸ” Checking for merge conflict markers..."
        if git grep -n "<<<<<<< HEAD" -- api/ >/dev/null 2>&1; then
          echo "âŒ Merge conflict marker found."
          git grep -n "<<<<<<< HEAD" -- api/
          exit 1
        fi
    check-merge-conflict-admin:
      run: |
        echo "ğŸ” Checking for merge conflict markers..."
        if git grep -n "<<<<<<< HEAD" -- admin/ >/dev/null 2>&1; then
          echo "âŒ Merge conflict marker found."
          git grep -n "<<<<<<< HEAD" -- admin/
          exit 1
        fi
    check-merge-conflict-web:
      run: |
        echo "ğŸ” Checking for merge conflict markers..."
        if git grep -n "<<<<<<< HEAD" -- web/ >/dev/null 2>&1; then
          echo "âŒ Merge conflict marker found."
          git grep -n "<<<<<<< HEAD" -- web/
          exit 1
        fi

    # --- Dart/Flutter ãƒã‚§ãƒƒã‚¯ ---

    dart-format:
      run: |
        echo "ğŸ¯ Running dart format..."
        dart format app/
      stage_fixed: true
      glob: "app/**/*.dart"

    flutter-analyze:
      run: |
        echo "ğŸ§  Running flutter analyze..."
        cd app && flutter analyze
      glob: "app/**/*.dart"

    flutter-test:
      run: |
        echo "ğŸ§ª Running flutter tests..."
        cd app && flutter test --no-pub
      glob: "app/**/*.dart"

    # --- Go (api/admin) ãƒã‚§ãƒƒã‚¯ ---

    gofmt-api:
      run: |
        echo "ğŸ§¹ Running gofmt for api..."
        for file in {staged_files}; do
          gofmt -w "$file"
        done
      stage_fixed: true
      glob: "api/**/*.go"

    go-test-api:
      run: |
        echo "âœ… Running go test (api)..."
        cd api && go test ./...
      glob: "api/**/*"

    gofmt-admin:
      run: |
        echo "ğŸ§¹ Running gofmt for admin..."
        for file in {staged_files}; do
          gofmt -w "$file"
        done
      stage_fixed: true
      glob: "admin/**/*.go"

    go-test-admin:
      run: |
        echo "âœ… Running go test (admin)..."
        cd admin && go test ./...
      glob: "admin/**/*"

    gofmt-web:
      run: |
        echo "ğŸ§¹ Running gofmt for web..."
        for file in {staged_files}; do
          gofmt -w "$file"
        done
      stage_fixed: true
      glob: "web/**/*.go"

    go-test-web:
      run: |
        echo "âœ… Running go test (web)..."
        cd web && go test ./...
      glob: "web/**/*"

Add stripe-sdk 0.3 dependency
  api/Cargo.lock
  api/Cargo.toml
  api/src/main.rs
  doc/design.md
Due: go-test-api

Refactor font handling to auto-generate Google Fonts URL from font-family input, removing the need for a separate URL field. Update validation logic and add utility functions for URL generation.
  admin/src/main.rs
  admin/templates/font_detail.html
  web/src/main.rs
Due: go-test-admin, go-test-web

Add font creation button stub
  admin/templates/fonts_page.html
Due: go-test-admin

Simplify font master naming
  admin/src/main.rs
  admin/templates/font_create.html
  admin/templates/font_create_page.html
  admin/templates/font_detail.html
  admin/templates/fonts_list.html
  api/src/main.rs
  doc/design.md
  doc/firebase-firestore-design.md
  web/src/main.rs
Due: go-test-api, go-test-admin, go-test-web

Update kanji reading output
  api/src/main.rs
  doc/design.md
  web/src/main.rs
  web/static/app.js
  web/templates/kanji_suggestions.html
Due: go-test-api, go-test-web

Update pricing maps for JPY
  .env.dev.example
  .env.prod.example
  admin/src/main.rs
  admin/templates/countries_list.html
  admin/templates/country_create.html
  admin/templates/country_detail.html
  admin/templates/material_create.html
  admin/templates/material_detail.html
  admin/templates/materials_list.html
  admin/templates/order_detail.html
  admin/templates/orders_list.html
  api/src/main.rs
  doc/design.md
  doc/firebase-firestore-design.md
  web/src/main.rs
  web/static/app.js
  web/templates/index.html
  web/templates/payment_failure.html
  web/templates/payment_success.html
  web/templates/purchase_result.html
Due: go-test-api, go-test-admin, go-test-web

Handle missing material prices
  web/src/main.rs
Due: go-test-web

Fix admin order currency handling
  admin/src/main.rs
Due: go-test-admin

Create Flutter hankofield app
  app/ios/Podfile.lock
  app/ios/Runner.xcodeproj/project.pbxproj
  app/ios/Runner.xcworkspace/contents.xcworkspacedata
  app/lib/app/config/app_runtime_config.dart
  app/lib/features/order/data/mock_catalog.dart
  app/lib/features/order/data/order_api_repository.dart
  app/lib/features/order/domain/order_models.dart
  app/lib/features/order/presentation/order_page.dart
  app/lib/features/order/presentation/order_view_model.dart
  app/pubspec.lock
  app/pubspec.yaml
  app/test/widget_test.dart
  doc/design.md
Due: dart-format, flutter-analyze, flutter-test

Add Flutter hankofield app
  app/ios/Podfile.lock
  app/ios/Runner.xcodeproj/project.pbxproj
Due: none

Fix material image URLs
  app/lib/features/order/data/order_api_repository.dart
  app/lib/features/order/presentation/order_page.dart
Due: dart-format, flutter-analyze, flutter-test

Reorder purchase step UI
  app/lib/features/order/presentation/order_page.dart
  web/static/input.css
  web/templates/index.html
Due: dart-format, flutter-analyze, flutter-test, go-test-web

Improve checkout flow and fonts
  api/src/main.rs
  app/lib/features/order/data/order_api_repository.dart
  app/lib/features/order/presentation/order_view_model.dart
Due: dart-format, flutter-analyze, flutter-test, go-test-api

Add language selector and privacyリンク
  app/lib/app/app.dart
  app/lib/app/localization/app_locale_view_model.dart
  app/lib/app/widgets/app_settings_button.dart
  app/lib/features/order/data/order_api_repository.dart
  app/lib/features/order/domain/order_models.dart
  app/lib/features/order/presentation/order_page.dart
  app/lib/features/order/presentation/order_view_model.dart
  app/lib/features/payment/presentation/payment_failure_page.dart
  app/lib/features/payment/presentation/payment_success_page.dart
  web/src/main.rs
  web/static/app.js
  web/static/input.css
  web/templates/index.html
  web/templates/payment_failure.html
  web/templates/payment_success.html
Due: dart-format, flutter-analyze, flutter-test, go-test-web

dev2
  .env.dev.example
  .env.prod.example
  .firebaserc
  .gitignore
  Makefile
  README.md
  admin/Cargo.lock
  admin/Cargo.toml
  admin/Dockerfile.cloudrun
  admin/src/main.rs
  admin/templates/admin_login.html
  admin/templates/countries_page.html
  admin/templates/font_create_page.html
  admin/templates/font_edit_page.html
  admin/templates/fonts_page.html
  admin/templates/material_create.html
  admin/templates/material_create_page.html
  admin/templates/material_detail.html
  admin/templates/material_edit_page.html
  admin/templates/materials_page.html
  admin/templates/orders_page.html
  api/Dockerfile.cloudrun
  api/src/bin/seed_catalog.rs
  api/src/main.rs
  app/lib/features/order/presentation/order_page.dart
  app/lib/features/order/presentation/order_view_model.dart
  compose.yaml
  doc/design.md
  doc/firebase-firestore-design.md
  web/Dockerfile.cloudrun
  web/src/main.rs
  web/static/app.js
  web/static/input.css
  web/templates/commercial_transactions.html
  web/templates/index.html
  web/templates/payment_failure.html
  web/templates/payment_success.html
  web/templates/terms.html
  web/templates/top.html
Due: dart-format, flutter-analyze, flutter-test, go-test-api, go-test-admin, go-test-web

other
  web/src/main.rs
  web/static/favicon.png
  web/static/input.css
  web/static/robots.txt
  web/static/site-logo.png
  web/static/sitemap.xml
  web/templates/commercial_transactions.html
  web/templates/index.html
  web/templates/payment_failure.html
  web/templates/payment_success.html
  web/templates/terms.html
  web/templates/top.html
Due: go-test-web

Add facet tag labels to the public web
  admin/src/main.rs
  admin/static/admin.js
  admin/templates/countries_page.html
  admin/templates/facet_tag_create.html
  admin/templates/facet_tag_detail.html
  admin/templates/facet_tags_list.html
  admin/templates/facet_tags_page.html
  admin/templates/font_edit_page.html
  admin/templates/fonts_page.html
  admin/templates/material_create_page.html
  admin/templates/material_edit_page.html
  admin/templates/materials_page.html
  admin/templates/orders_page.html
  admin/templates/stone_listing_create.html
  admin/templates/stone_listing_create_page.html
  admin/templates/stone_listing_detail.html
  admin/templates/stone_listing_edit_page.html
  admin/templates/stone_listings_list.html
  admin/templates/stone_listings_page.html
  api/src/main.rs
  doc/firebase-firestore-design.md
  web/src/main.rs
Due: go-test-api, go-test-admin, go-test-web

Refactor web stone listing filters to canonical facets
  doc/design.md
  web/src/main.rs
  web/static/app.js
  web/templates/index.html
Due: go-test-web

Reserve stone listings during order creation
  admin/src/main.rs
  api/src/main.rs
  web/src/main.rs
Due: go-test-api, go-test-admin, go-test-web

Sync stone listing status with order payment transitions
  admin/src/main.rs
  api/src/main.rs
Due: go-test-api, go-test-admin

Track stone listing published_at and sort by publish time
  admin/src/main.rs
  api/src/main.rs
  web/src/main.rs
Due: go-test-api, go-test-admin, go-test-web

Preserve stone listing status and design filters
  admin/src/main.rs
  web/src/main.rs
Due: go-test-admin, go-test-web

Filter inactive stone listings and preserve empty stone_shape
  api/src/main.rs
  web/src/main.rs
Due: go-test-api, go-test-web

Fix admin snapshot loading and locale navigation URLs
  admin/src/main.rs
  web/src/main.rs
  web/static/app.js
Due: go-test-admin, go-test-web

Prevent deleting referenced listings and facet tags
  admin/src/main.rs
Due: go-test-admin

Fix listing validation and checkout handling
  admin/src/main.rs
  api/src/main.rs
  web/static/app.js
  web/templates/index.html
Due: go-test-api, go-test-admin, go-test-web

Unify order flow around stone listings
  admin/src/main.rs
  api/src/main.rs
  app/lib/features/order/data/order_api_repository.dart
  app/lib/features/order/data/order_draft_storage.dart
  app/lib/features/order/domain/order_models.dart
  app/lib/features/order/presentation/order_page.dart
  app/lib/features/order/presentation/order_view_model.dart
  app/test/order_draft_storage_test.dart
  web/src/main.rs
  web/static/app.js
  web/templates/index.html
  web/templates/purchase_result.html
Due: dart-format, flutter-analyze, flutter-test, go-test-api, go-test-admin, go-test-web

Restore legacy order label fallbacks
  admin/src/main.rs
  admin/static/admin.js
  admin/templates/order_detail.html
  api/src/main.rs
  web/src/main.rs
Due: go-test-api, go-test-admin, go-test-web

Fix stone listing rollback and facet defaults
  admin/src/main.rs
  api/src/main.rs
  app/lib/features/order/domain/order_models.dart
  app/test/order_models_test.dart
  doc/firebase-firestore-design.md
  web/src/main.rs
  web/static/app.js
Due: dart-format, flutter-analyze, flutter-test, go-test-api, go-test-admin, go-test-web

Allow inactive stone listing materials on update
  admin/src/main.rs
Due: go-test-admin

Remove oval stone shape options from admin and web
  admin/src/main.rs
  admin/templates/stone_listing_create.html
  admin/templates/stone_listing_detail.html
  admin/templates/stone_listings_list.html
  api/src/main.rs
  app/lib/features/order/data/order_api_repository.dart
  app/lib/features/order/domain/order_models.dart
  app/lib/features/order/presentation/order_page.dart
  app/lib/features/order/presentation/order_view_model.dart
  app/test/order_models_test.dart
  app/test/order_view_model_test.dart
  doc/firebase-firestore-design.md
  web/src/main.rs
  web/static/app.js
  web/templates/index.html
Due: dart-format, flutter-analyze, flutter-test, go-test-api, go-test-admin, go-test-web

Preserve published_at and stone shape values
  admin/src/main.rs
  api/src/main.rs
  web/src/main.rs
Due: go-test-api, go-test-admin, go-test-web

Handle checkout session persistence failures safely
  api/src/main.rs
Due: go-test-api

Update web and admin to support facet-tagged one-of-one stone listings (#12)
  admin/src/main.rs
  admin/static/admin.js
  admin/templates/countries_page.html
  admin/templates/facet_tag_create.html
  admin/templates/facet_tag_detail.html
  admin/templates/facet_tags_list.html
  admin/templates/facet_tags_page.html
  admin/templates/font_edit_page.html
  admin/templates/fonts_page.html
  admin/templates/material_create_page.html
  admin/templates/material_edit_page.html
  admin/templates/materials_page.html
  admin/templates/order_detail.html
  admin/templates/orders_page.html
  admin/templates/stone_listing_create.html
  admin/templates/stone_listing_create_page.html
  admin/templates/stone_listing_detail.html
  admin/templates/stone_listing_edit_page.html
  admin/templates/stone_listings_list.html
  admin/templates/stone_listings_page.html
  api/src/main.rs
  app/lib/features/order/data/order_api_repository.dart
  app/lib/features/order/data/order_draft_storage.dart
  app/lib/features/order/domain/order_models.dart
  app/lib/features/order/presentation/order_page.dart
  app/lib/features/order/presentation/order_view_model.dart
  app/test/order_draft_storage_test.dart
  app/test/order_models_test.dart
  app/test/order_view_model_test.dart
  doc/design.md
  doc/firebase-firestore-design.md
  web/src/main.rs
  web/static/app.js
  web/templates/index.html
  web/templates/purchase_result.html
Due: dart-format, flutter-analyze, flutter-test, go-test-api, go-test-admin, go-test-web

listing
  Makefile
  README.md
  admin/src/main.rs
  admin/static/admin.js
  admin/templates/admin_login.html
  admin/templates/countries_page.html
  admin/templates/facet_tag_create.html
  admin/templates/facet_tags_page.html
  admin/templates/font_create.html
  admin/templates/font_create_page.html
  admin/templates/font_edit_page.html
  admin/templates/fonts_page.html
  admin/templates/material_create.html
  admin/templates/material_create_page.html
  admin/templates/material_detail.html
  admin/templates/material_edit_page.html
  admin/templates/materials_list.html
  admin/templates/materials_page.html
  admin/templates/orders_page.html
  admin/templates/stone_listing_create.html
  admin/templates/stone_listing_create_page.html
  admin/templates/stone_listing_detail.html
  admin/templates/stone_listing_edit_page.html
  admin/templates/stone_listings_list.html
  admin/templates/stone_listings_page.html
  api/Cargo.lock
  api/Cargo.toml
  api/src/bin/seed_catalog.rs
  api/src/main.rs
  compose.yaml
  doc/design.md
  doc/firebase-firestore-design.md
  firestore.indexes.json
  scripts/docker-dev.sh
  web/src/main.rs
  web/static/input.css
  web/templates/index.html
Due: go-test-api, go-test-admin, go-test-web

filter
  web/src/main.rs
  web/static/app.js
  web/static/input.css
  web/templates/index.html
Due: go-test-web
